<% provide(:title, 'Sign up') %>

<div class="card shadow-lg mx-auto my-5">
  <div class="card-body">
    <h1 class="card-title text-center mt-3 mb-5">Sign up</h1>
    <div class="col mx-auto">
      <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control mb-3' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control mb-3' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control mb-3' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control mb-4' %>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>