<nav class="nav navbar navbar-expand-lg navbar-dark" style="background-color: #212121;">
  <%= link_to "Question Answer Game", root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Question", questions_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Score", scores_path, class: "nav-link" %>
      </li>

      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Me</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <p class="dropdown-item">Hi, <%= current_user.name %></p>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <%= link_to "Log in", login_path, class: "nav-link"%>
      <% end %>
    </ul>
  </div>
</nav>